@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



img {
  max-width: 60%;
  height: auto;
}


nav{
    display: flex;
    text-align: center;   
    justify-content: space-around;
    border: #000;
    text-align: center;
    padding: 5;
    
}

nav a{
    
    text-decoration: none;
    color: #000;
   
}

header img {
    max-width: 50%;
    height: auto;
    padding: 30px;
    cursor: pointer;
}

h1 {
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: 0.1em 0.1em rgb(255, 255, 255);

}

td, th {
    padding: 5px;
    margin: 0;
    text-align: center;
}

table {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 30px;
    table-layout: fixed;
}

.apresentacao {
    text-align: center;
    padding: 60px 20px;
    background-color: #ffffff;
}

.recursos {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgb(43, 6, 255);
    flex: 0 1 25%;
}

.card h3 {
    color: #0a0a0a89;
}

.preço {
    text-align: center;
    padding: 10px;
    background-color: #fff;
}

.preço a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #000;
    color: white;
}

footer i {
    margin: 5px;
    color: rgb(255, 255, 255);
}


@keyframes nome {
    0% {
        transform: scale(0.9);
        
    }

    100% {
        transform: scale(1.2);
        
    }

    
}

.animação {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex-wrap: wrap;
}

.animação div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin: 10px;
    width: 100px;
    height: 100px;
    color: #000;
    border-radius: 50px;
}

.animação div:hover{
    animation: nome 1.5s forwards ;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

.quadrado-preto { background-color: rgb(73, 73, 73); }
.quadrado-branco { background-color: ghostwhite;  }
.quadrado-rosa { background-color: rgb(255, 88, 227); }
.quadrado-verde { background-color: rgb(129, 210, 129); }
.quadrado-azul { background-color: rgb(22, 22, 229); }

@media (max-width: 768px) {
  body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
 }
}

@media (max-width: 768px) {
    .animação div {
        width: 80px;
        height: 80px;
        font-size: 18px;
    }

    .card {
        flex: 0 1 45%;
    }
}

@media (max-width: 480px) {
    .animação div {
        width: 60px;
        height: 60px;
        font-size: 14px;
    }

    .card {
        flex: 0 1 100%;
    }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

